<div class="container">
<nz-table #basicTable [nzData]="data" nzBordered [nzPageSize]="8" [nzScroll]="{ x: '900px', y: '400px' }">
    <thead>
      <tr>
        <th nzLeft>Name <span nz-icon nzType="linkedin" nzTheme="fill"></span></th>
        <th >description <span nz-icon nzType="copy" nzTheme="outline"></span></th>
        <th >image <span nz-icon nzType="edit" nzTheme="outline"></span></th>
        <th >description</th>
        <th >image</th>
        <th >description</th>
        <th >image</th>
        <th >description</th>
        <th >image</th>
        <th >description</th>
        <th >image</th>
        <th nzRight>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td nzLeft>{{ data.name }}</td>
        <td nzBreakWord>{{ data.description }}</td>
        <td nzBreakWord> <img src="{{ data.image }}" alt="" style="height: 7vh; width: 15vw"> </td>
        <td nzBreakWord>{{ data.description }}</td>
        <td nzBreakWord> <img src="{{ data.image }}" alt="" style="height: 7vh; width: 15vw"> </td>
        <td nzBreakWord>{{ data.description }}</td>
        <td nzBreakWord> <img src="{{ data.image }}" alt="" style="height: 7vh; width: 15vw"> </td>
        <td nzBreakWord>{{ data.description }}</td>
        <td nzBreakWord> <img src="{{ data.image }}" alt="" style="height: 7vh; width: 15vw"> </td>
        <td nzBreakWord>{{ data.description }}</td>
        <td > <img src="{{ data.image }}" alt="" style="height: 7vh; width: 15vw"> </td>
        <td nzRight>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete <span nz-icon nzType="delete" nzTheme="outline"></span></a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <br><br>

  <nz-input-group class="inpu" [nzSuffix]="suffixIconSearch">
    <input type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconSearch>
    <span nz-icon nzType="search"></span>
  </ng-template>
  <br />
  <br />
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"></span></button>
  </ng-template>
  <br />
  <br />
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input class="input" type="text"  placeholder="input search text" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" nzSearch>Search</button>
  </ng-template>
</div>