.login-form {
  max-width: 700px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

@media (min-width: 380px) {
  .bo {
    margin-left: auto;
  }
}

input.ng-touched.ng-invalid{
  border:solid 2px red;
}

input.ng-valid{
  border: solid 2px rgb(103, 243, 157);

}

