
 <ul>
    <li *ngFor="let video of videos">

<div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-96x96">
            <img class="" [src]="video.data.image"  alt="Placeholder image">
          </figure>
      </div>
      <div class="media-content">
          <button class="button   is-rounded"  style="background-color: rgba(170, 146, 238, 0.24); border-color: blueviolet;">Edit</button>
        <p class="title is-4">{{video.data.name}}</p>
        <p class="subtitle is-6">{{video.data.description}}</p>
      </div>
    </div>
</div>
</li>
</ul>
