<app-navbar></app-navbar><br>
<div class="container is-fluid  ">
  <div class="columns is-centered">
    <div class="column is-5 ">

      <div class="card " id="ide" style="cursor:pointer;">
        <div class="card-image ">
          <figure class="image is-2by1  ">
            <img [src]="respuesta.image" alt="Placeholder  image">
          </figure>
        </div>

        <div class="card-content has-text-centered">
          <div class="media ">

            <div class="media-content">
              <!-- routerlink envio una ruta con el id al post-->
              <button class="button is-link "
                style="background-color: rgb(176, 155, 235); border-color: rgb(98, 5, 248); width:20vw; ">Add</button>
              <p class="title is-4 has-text-link"><strong>{{respuesta.name}}</strong></p>
              <p class="subtitle is-6">{{respuesta.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-5 ">
      <form [formGroup]="form" (submit)="enviarData()">
        <div class="field">
          <textarea class="textarea is-success" formControlName="description" placeholder="Success textarea"></textarea>
        </div>
        <div class="field">
          <button class="button is-primary">Add comment</button>
        </div>
      </form>
    </div>

  </div>

</div>
